<div class="row">
	<div class="col-md-2">

		<div class="" role="navigation">
            <ul class="nav  nav-pills nav-stacked">
            	<li> <button class="btn btn-success" ng-click="open()" style="width: 100%;">New Section  <span class="glyphicon glyphicon-plus" aria-hidden="true"></button></li>
              	<li ng-repeat="section in sections" ng-class="{ 'active': isSelected(section.id) }"><a ui-sref="sections.detail( { id: {{ section.id }} } )" data-toggle="tooltip" title="{{ section.description }}">{{ section.title }}</a></li>           
            </ul>
        </div>

	</div>
	<div class="col-md-10">
		<div ui-view >
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
					<h2 class="text-muted">Select a section</h2>
				</div>	
			</div>

		</div>
	</div>
</div>